.bgOverlay.hidden
.albumOverlay
	.olAlbumHead
		.olAlbumTitle.white-on-black
		.closeWhite.icon
	.olAlbumComposer.super-strong
	.olAlbumLink
	.olAlbumArtist
	.olAlbumBody
		.olDisc
		.olTrack.p.hidden
			.buttons
				.play
				.pause.inactive
			.text
				.topTrackName.ol
				a.composer.ol.super-strong
				.topTrackArtist.ol