.logoContainer
	a(href='/')
		.logo
nav.menuBar
	.menuItem.search.icon
	.menuItem.menuConcerts <a href='/concerts'>concerts</a>
	.menuItem.menuArtists <a href='/artists'>artists</a>
	.menuItem.menuComposers <a href='/composers'>composers</a>
	
	
	