.searchOverlay
	.close.icon
	.inputContainer
		input(name="searchInput" class="searchInput searchStyle")
	.result.hidden
		h2.searchTitle.hidden#composers Composers
		.results.composer
			a.searchLink.composer.hidden
				.composerResultsBox
					.composerSearchImage
					.composerSearchDetails
						.composerSearchName.super-strong
						.composerSearchLife
		h2.searchTitle.hidden#artists Artists
		.results.artist
			a.searchLink.artist.hidden
				.artistResultsBox
					.artistSearchImage
					.artistSearchDetails
						.artistSearchName
						.artistSearchLife
		h2.searchTitle.hidden#albums Albums
		.results.album
			a.searchLink.album.hidden 
				.albumResultsBox
					.albumSearchImage
					.albumSearchDetails
						.albumSearchName
		h2.searchTitle.hidden#tracks Tracks
		.results.track
			.searchTrack.hidden
				.buttons
					.play
					.pause.hidden
				.text
					.trackName
					.trackArtist
						
