doctype html
html
	include head.jade	
	body
		include menubar.jade
		include search.jade
		.megaPersonList
		.composerHead
			.headTitleBox
				.name Felix Mendelsohnn
		.quote Mournful and yet grand is the destiny of the artist.
		.attribution Franz Liszt
		.sectionTitle Featured Album
		.featuredArtist 
			a Martha Argerich
		.featuredTitle
			a Mozart, Schubert & Stravinsky Piano Duos
		.concertTitle Aurora Orchestra
		a.concertComposerLink Beethoven
		.concertDateAndVenue Sunday, 29 May
		.concertArtists
			a.Gruber, 
			a.Royal Philharmonic Orchestra
		.bookTickets
			.bookButton
				a.bookLink Book Tickets
		.whenInner Today
		.detailsContainer
			.detailsInner
				.composer Pierre van Maldere
				.life 1724 - 1768
		.menuItem 
			a.menuComposers Composers 
		.


